body {
	background-color: black;
	color: white;
	font-family: 'Darker Grotesque', sans-serif;
	max-width: 100%;
}

/* Side Nav Bar */
#logo {
	width: 12em;
	margin-left: 7em;
	position: fixed;
	z-index: 4;
}
.sidebar {
	display: inline;
}
.sidenav {
	transform: rotate(270deg);
	transform-origin: left top;
	margin-top: 5%;
	position: fixed;
	top: 75%;
}
.sidenav ul{
	list-style: none;
	font-size: 2em;
	text-transform: uppercase;
	line-height: 0.4em;
	font-weight: bold;
}
.sidenav ul li{
	display: inline;
	padding-left: 0.3em;
	padding-right: 0.3em;
	margin-left: 0.3em;
	margin-right: 0.3em;
}

/* Responsive Menu */
#iconopen, #iconclose {
	display: none;
	width: 8%;
	position: fixed;
	z-index: 4;
	right: 3%;
	top: 6%;
}
#iconopen:hover, #iconclose:hover {
	cursor: pointer;
}
#fullpagenav {
	display: none;
	width: 100%;
	z-index: 4;
	background-color: black;
	text-align: center;
	font-size: 4em;
	top: 0;
	bottom: 0;
}
#fullpagenav ul {
	list-style: none;
	text-transform: uppercase;
	font-weight: bold;
}
.hovermenu:hover {
	cursor: pointer;
}

/* About Section */
#about {
	margin-left: 20%;
}
.aboutheading {
	transform: rotate(270deg);
	transform-origin: left top;
	position: absolute;
	top: 30%;
	right: 48%;
	z-index: 1;
	font-weight: bold;
	font-size: 5em;
	line-height: 2em;
}
.aboutbio {
	position: absolute;
	z-index: 1;
	top: 65%;
	right: 40%;
	font-size: 1.3em;
	max-width: 28%;
}
.aboutpicture {
	width: 40%;
	position: absolute;
	z-index: -1;
	right: 10%;
	top: 20%;

}
.backlogo {
	position: absolute;
	top: 0;
	right: 0;
	z-index: -2;
	width: 50%;
}

/* Gallery Section */
#gallery {
	position: absolute;
	top: 150%;
	text-align: center;
	margin-left: 10%;
}
#gallery1 {
	width: 31%;
	position: relative;
	left: 10%;
	z-index: -5;
}
#gallery2 {
	width: 23%;
	position: relative;
	left: 5%;
	top: 3em;
	z-index: 1;

}
#gallery3 {
	width: 33%;
	position: relative;
	top: 1em;
}
.gallerytitle {
	position: absolute;
	top: 60%;
	left: 10%;
	font-size: 7em;
	z-index: 3;
}
#gallery a {
	color: white;
}

/*Contact Section */
#contact {
	position: absolute;
	top: 300%;
	left: 20%;
}
#contact form fieldset {
	border: none;
}
::-webkit-input-placeholder {
	color: #adadad;
}
:-ms-input-placeholder {
	color: #adadad;
}
#contact form fieldset input {
	background-color: transparent;
	border: none;
	border-bottom: solid #adadad;
	color: #adadad;
	font-family: 'Darker Grotesque', sans-serif;
	font-size: 3.2em;
	padding-right: 2.5em;
	
}
#contact form fieldset input, #contact form fieldset select, #contact form fieldset button{
	margin: 5%;
	margin-left: 18%;
}
#contact form fieldset button {
	font-family: 'Darker Grotesque', sans-serif;
	font-size: 2.3em;
	border: solid #adadad;;
	background-color: transparent;
	color: #adadad;
	padding: 0.2em;
	margin-left: 55%;
	padding-left: 1em;
	padding-right: 1em;
	padding-bottom: 0.4em;
	margin-top: 10%;
}
#contact form fieldset button:hover {
	cursor: pointer;
}
.email {
	font-size: 2.8em;
	color: #adadad;
	margin-left: 24%;
}
.maillink{
	color: #adadad;
}
.socialicon {
	width: 15%;
	position: absolute;
	z-index: 5;
	right: -40%;
}
.socialicon.ig {
	top: 8%;
}
.socialicon.fb {
	top: 34%;
}
.socialicon.tw {
	top: 62%;
}

/*Tips Section */
#tips {
	position: absolute;
	top: 440%;
	text-align: center;
	left: 35%;

}
.tipstitle {
	font-size: 7em;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}
.questionicon {
	position: absolute;
	z-index: -1;
	font-size: 40em;
	line-height: 0.5em;
	margin-top: 0;
	margin-bottom: 50%;
	color: #5a5a5a;
	top: -5%;
	left: 60%;
}
.arrow {
	position: absolute;
	width: 15%;
	left: 8%;
	top: 85%;
}
.arrow:hover {
	-webkit-transition: 0.5s ease-in-out;
	-webkit-transform: translate(2em, 0);
}

/* Gallery Page */

#logogallery {
	width: 12em;
	margin-left: 4em;
	position: absolute;
	top: 4%;
	z-index: 4;
}
.gallerythird {
	text-align: center;
	margin-top: 15%;
}
.galpo1, .galpo2, .galpo3, .galpo4, .galpo5, .galpo6 {
	display: inline-block;
}
.galpo1 {
	width: 32%;
}
.galpo2 {
	width: 25%;
	margin-left: -6%;
	z-index: 1;
}
.galpo3 {
	width: 40%;
	margin-left: -9%;
	position: relative;
	z-index: -1;
}
.galpo4 {
	width: 38%;
}
.galpo5 {
	width: 25%;
	margin-left: -10%;
	z-index: 1;
}
.galpo6 {
	width: 34%;
	margin-left: -7%;
	position: relative;
	z-index: -1;
}
.landscape {
	margin-top: 10%;
}
.landscapecontainer {
	width: 100%;
	text-align: center;
}

/* Tips Page */

.tipsheading {
	position: absolute;
	transform: rotate(270deg);
	transform-origin: left top;
	top: 38%;
	right: 3%;
}
.accordion {
	width: 50%;
	margin: 0 auto;
	position: absolute;
	top: 20%;
	left: 30%;
}
.accordionheader {
	border: 1px solid white;
	cursor: pointer;
	font-weight: bold;
	padding: 1.5rem;
	color: white;
	display: flex;
	justify-content: space-between;
}
.accordiontitle {
	font-size: 2em;
}
.accordionheader p {
	font-size: 3em;
	margin-top: 0;
	margin-bottom: 0;
	line-height: 0.8em;
}
.accordioncontent {
	display: none;
	border: 1px solid white;
	padding: 1.5rem;
	color: white;
}
.blogblockwrapper {
	position: absolute;
	top: 80%;
	left: 3%;
	right: 3%;
	display: flex;
	margin-bottom: 3%;
}
.blogblock {
	border: solid white;
	margin-left: 2%;
	margin-right: 2%;
	padding: 1%;
}
.blogblock:hover {
	cursor: pointer;
}
.blogicon img{
	width: 40%;
}
.blogicon {
	text-align: center;
	margin-top: 8%;
}
.blogblock div h3 {
	font-size: 2em;
	text-align: center;
	margin-top: 1%;
}
#blogcontent1, #blogcontent2, #blogcontent3 {
	display: none;
	color: white;
	background-color: black;
	position: absolute;
	z-index: 5;
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	text-align: center;
}
#blogcontent1 p, #blogcontent2 p, #blogcontent3 p {
	width: 40%;
	margin: 0 auto;
	font-size: 1.2em;
}
#blogcontent1 h2, #blogcontent2 h2, #blogcontent3 h2 {
	margin-top: 5%;
	font-size: 4em;
}
.closeicon {
	width: 3%;
	position: absolute;
	top: 4%;
	right: 4%;
}
.closeicon:hover {
	cursor: pointer;
}

@media only screen and (max-width: 1200px) {
	.socialicon.ig, .socialicon.fb {
	top: 110%;
	}
	.socialicon.tw {
		top: 111%;
	}
	.socialicon.ig {
		left: 20%;
	}
	.socialicon.fb {
		left: 57%;
	}
	.socialicon.tw {
		left: 95%;
	}
	#tips {
		top: 500%;
	}
	.tipsheading {
	right: 0.25%;
}
	
}
@media only screen and (max-width: 1000px){
	#iconopen {
		display: block;
	}
	.sidenav {
		display: none;
	}
	#logo {
	margin-left: 1em;
	}
	.backlogo {
	position: absolute;
	top: 18%;
	right: 2%;
	}
	.aboutheading {
		right: 56%;
		top: 33%;
	}
	.aboutbio {
	right: 50%;
	top: 45%;
	}
	.aboutpicture {
		right: 20%;
		top: 25%;
	}
	#gallery {
		top: 105%;
		margin-left: -8%;
	}
	#gallery1 {
	width: 45%;
	z-index: 1;

	}
	#gallery2 {
		left: 4%;
		width: 32%;
		z-index: 2;
	}
	#gallery3 {
		display: none;
	}
	.gallerytitle {
	position: absolute;
	top: 50%;
	right: -25%;
	font-size: 7em;
	}
	#contact {
		top: 200%;
	}
	#tips {
		top: 350%;
		left: 30%;
	}
	#contact form fieldset input {
	font-size: 3.2em;
	padding-right: 0em;
	
	}
	#contact form fieldset button {
		margin-left: 45%;
	}
	.email {
		font-size: 2.2em;
		margin-left: 20%;
	}
	.accordion {
		min-width: 80%;
		top: 40%;
		left: 10%;
	}
	.tipsheading {
		position: absolute;
		transform: rotate(0deg);
		top: 7%;
		right: 3%;

	}
	.blogblockwrapper {
		display: block;
	}
	.blogblock {
		width: 80%;
		margin: 0 auto;
		margin-bottom: 3%;
	}
	.closeicon {
		width: 6%;
	}
}
@media only screen and (max-width: 550px) {
	.aboutheading {
		top: 30%;
		right: 48%;
		z-index: 1;
		font-weight: bold;
		font-size: 5em;
		line-height: 2em;
	}
	.aboutbio {
		position: absolute;
		z-index: 1;
		top: 65%;
		right: 40%;
		font-size: 1.3em;
		max-width: 28%;
	}
	.aboutpicture {
		width: 60%;
		position: absolute;
		z-index: -1;
		right: 10%;
		top: 20%;

	}
	.backlogo {
		position: absolute;
		top: 0;
		right: 0;
		z-index: -2;
		width: 60%;
	}
	.tipsheading {
		top: 20%;
		left: 13%;
	}
	.accordion {
		top: 50%;
	}
	.blogblockwrapper {
		top: 100%;
	}
}
